@font-face {
    font-family: HandwritingFont;
    src: url(HandwritingRegular-owLLA.otf);
}

* {
    margin: 0;
    padding: 0;
    font-family: HandwritingFont;
    box-sizing: border-box;
}

body {
    color: rgb(156, 149, 255);
    background-color: #D5F6D7;
    overflow: hidden;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul {
    position: absolute;
    top: 1.5rem;
    right: 33%;
}

nav ul li {
    list-style: none;
    margin: 0 3rem;
    display: inline-block;
}

nav ul li a {
    color: rgb(188, 183, 255);
    font-size: 4rem;
    text-decoration: none;
    font-weight: 550;
    transition: all 0.5s ease;
}

nav ul li a:hover {
    color: rgb(139, 131, 255);
}

html {
    scroll-behavior: smooth;
}

#enoki {
    position: absolute;
    top: 16.8%;
    right: 6.5%;
    width: 17.5%;
    max-height: 30rem;
    border-radius: 1.625rem;
    transform: rotate(-5.5deg);
    z-index: 1;
}

#flowers {
    position: absolute;
    top: 67.5%;
    left: 5%;
    width: 15%;
    transform: rotate(-20deg);
}

#stars {
    position: absolute;
    top: 2.5%;
    left: 29%;
    width: 5%;
    transform: rotate(10deg);
}

#stars2 {
    position: absolute;
    top: 2.5%;
    right: 29%;
    width: 5%;
    transform: rotate(10deg);
}

#boba {
    position: absolute;
    left: 70%;
    top: 38.5%;
    width: 27.5%;
    z-index: 3;
}

#frame {
    position: absolute;
    top: 7%;
    left: 72%;
    width: 25%;
    transform: rotate(-5deg);
    z-index: 2;
}

#cat {
    position: absolute;
    top: 35%;
    width: 17.5%;
    left: 1%;
}

#wooper {
    position: absolute;
    top: 5%;
    left: 6%;
}


.container {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    top: 16%;
    right: 6%;
    background-color: rgba(70, 56, 82, 0.8);
    border-radius: 1.625rem;
    width: 18.5%;
    height: 35.5%;
    transform: rotate(-5.5deg)
}